.westeros-region {
    fill: #fff;
    fill-opacity: 0;
    stroke:#000000;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
}

.westeros-region:hover{
    fill-opacity:1;
    opacity: 0.5;
}

.stark-region{
    fill: #E9E9E9;
    fill-opacity: 0.8;
}

.lannister-region{
    fill: #C62912;
    fill-opacity: 0.8;
}

.baratheon-region{
    fill: #EBD244;
    fill-opacity: 0.8;
}

.greyjoy-region{
    fill: #1B0F1D;
    fill-opacity: 0.8;
}

.martell-region{
    fill: #C46101;
    fill-opacity: 0.8;
}

.tyrell-region{
    fill: #0A8633;
    fill-opacity: 0.8;
}

.owner-chooser{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    outline: 3px solid #000;
}


.house-token img {
    width: 133px;
    height: 133px;
}

.region-owner-chooser{
    height: 400px;
    width: 400px;
}