<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="./index.js"></script>
</head>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 2475 3718"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="westeros.svg">
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.45254834"
     inkscape:cx="728.81187"
     inkscape:cy="-318.01328"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1608"
     inkscape:window-height="1027"
     inkscape:window-x="3008"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <defs
     id="defs4">
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3585"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3579"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3573"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3567"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3561"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3555"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3549"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3543"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3537"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3531"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3525"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3519"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3513"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3507"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3501"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3495"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3489"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3483"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3477"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3471"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3465"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3459"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3453"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3447"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3441"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3435"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3429"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3423"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3417"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3407"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3401"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3397"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3391"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3387"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3381"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3375"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3367"
       effect="spiro" />
    <inkscape:path-effect
       is_visible="true"
       id="path-effect3363"
       effect="spiro" />
  </defs>
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     inkscape:groupmode="layer"
     inkscape:label="Layer 1">
    <image
       style="fill:#e9afaf"
       width="2475"
       height="3718.75"
       preserveAspectRatio="none"
       xlink:href="./map.jpg"
       id="image3344"
       x="1.3491075e-009"
       y="2.9403801">
    </image>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 763.39288,612.09211 1.17187,-12.8907 12.10938,-11.3281 6.64062,-12.1094 8.20313,-5.4687 2.34375,-19.9219 -11.71875,-19.1406 6.25,-14.8438 13.67187,-8.9843 0,-7.4219 5.07813,-8.5937 -3.125,-15.2344 -0.78125,-16.7969 -20.70313,-19.5312 7.42188,-5.4688 6.25,0.3906 2.73437,-9.7656 29.29688,-10.1562 20.01305,-15.4624 4.41942,-12.4296 11.87718,3.0383 11.60097,-2.7621 8.56262,1.1049 13.25826,-12.9821 -4.41942,-15.7442 7.18155,-5.8004 13.25826,-21.5447 15.74417,-15.468 2.76214,-8.8388 11.04854,-6.6291 4.41942,-12.7058 -0.27622,-9.6675 80.10193,-1.3811 254.3927,0.8287 4.1432,11.6009 4.9719,3.5908 0,40.6034 6.6291,12.982 10.2199,7.1816 8.0102,7.734 5.8005,0 6.0767,20.1636 2.2097,13.5344 4.6956,6.3529 -1.1048,9.6675 10.4961,27.0689 -2.2097,15.468 6.0767,22.0971 -1.6573,12.4296 3.5908,14.6393 -12.7059,0 -23.2019,-8.5626 -38.9461,-29.5548 -12.1534,-0.5525 -18.5063,8.0102 -25.1355,14.0869 -11.6009,5.8005 -7.734,5.5242 -6.3529,12.4296 -2.7622,12.7059 -27.3451,-18.5063 -46.1277,-15.1918 -13.5344,1.9335 -29.0025,23.4782 -7.1815,1.381 -18.5063,-3.0383 -9.6675,3.0383 -14.0869,6.6291 -21.2684,14.3632 -14.08693,2.7621 -17.12525,12.1534 -26.5165,30.3835 -22.92573,25.1354 -6.35291,0 -8.0102,-1.9335 -54.69029,22.9258 -14.08689,-4.6957 -61.31942,-2.4859 z"
       inkscape:path-effect="#path-effect3363"
       id="path3361"
       d="m 763.39288,612.09211 1.17187,-12.8907 12.10938,-11.3281 6.64062,-12.1094 8.20313,-5.4687 2.34375,-19.9219 -11.71875,-19.1406 6.25,-14.8438 13.67187,-8.9843 0,-7.4219 5.07813,-8.5937 -3.125,-15.2344 -0.78125,-16.7969 -20.70313,-19.5312 7.42188,-5.4688 6.25,0.3906 2.73437,-9.7656 29.29688,-10.1562 20.01305,-15.4624 4.41942,-12.4296 11.87718,3.0383 11.60097,-2.7621 8.56262,1.1049 13.25826,-12.9821 -4.41942,-15.7442 7.18155,-5.8004 13.25826,-21.5447 15.74417,-15.468 2.76214,-8.8388 11.04854,-6.6291 4.41942,-12.7058 -0.27622,-9.6675 c 26.69817,-0.59144 53.39923,-1.05181 80.10193,-1.3811 84.795,-1.04567 169.6063,-0.76939 254.3927,0.8287 l 4.1432,11.6009 4.9719,3.5908 0,40.6034 6.6291,12.982 10.2199,7.1816 8.0102,7.734 5.8005,0 6.0767,20.1636 2.2097,13.5344 4.6956,6.3529 -1.1048,9.6675 10.4961,27.0689 -2.2097,15.468 6.0767,22.0971 -1.6573,12.4296 3.5908,14.6393 -12.7059,0 -23.2019,-8.5626 -38.9461,-29.5548 -12.1534,-0.5525 -18.5063,8.0102 c -8.2228,4.96653 -16.6072,9.66548 -25.1355,14.0869 -3.8384,1.98998 -7.7059,3.92375 -11.6009,5.8005 l -7.734,5.5242 -6.3529,12.4296 -2.7622,12.7059 -27.3451,-18.5063 -46.1277,-15.1918 -13.5344,1.9335 -29.0025,23.4782 -7.1815,1.381 -18.5063,-3.0383 -9.6675,3.0383 -14.0869,6.6291 -21.2684,14.3632 -14.08693,2.7621 -17.12525,12.1534 c -8.71804,10.23242 -17.5577,20.3612 -26.5165,30.3835 -7.55764,8.45481 -15.20006,16.83384 -22.92573,25.1354 l -6.35291,0 -8.0102,-1.9335 -54.69029,22.9258 -14.08689,-4.6957 -61.31942,-2.4859 -15.8034,-9.6239 z"
       class="westeros-region"
       >
      <title
         id="title3369">Castle Black</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1190.7545,523.10771 14.3631,13.3964 59.0565,90.4317 46.4844,21.4844 3.125,7.0312 2.7344,11.7188 13.6719,20.3125 12.8906,10.1562 5.8594,12.8907 1.1718,44.1406 3.9063,7.0312 10.5469,2.3438 -1.9532,7.8125 -2.7343,12.5 3.125,30.4687 -12.1094,21.875 3.125,12.5 8.9844,7.0313 -12.5,3.5156 5.0781,13.6719 3.125,5.0781 8.5937,3.5156 0,3.125 -19.1406,-4.2968 0.3906,3.9062 -38.6718,0.7813 -13.6719,-7.8125 -24.6094,-29.2969 -19.1406,-1.1719 -42.1875,-39.8437 -12.8906,-0.7813 -12.1094,8.5938 -63.2813,71.0937 -39.4531,37.8906 -13.6719,5.8594 c 0,0 -15.2343,2.3438 -17.5781,4.6875 -2.3437,2.3438 -16.7969,19.5313 -16.7969,19.5313 l -49.21872,80.85939 -9.375,49.2188 14.0625,26.9531 2.34375,15.625 -21.875,19.5313 -24.60937,17.9687 -10.54688,19.9219 1.17188,36.3281 12.10937,24.2188 19.92188,27.3437 3.125,3.5156 -18.75,12.8907 -56.25,-5.4688 -45.31251,19.9219 -7.03125,-7.4219 -135.9375,23.0469 -10.15625,-20.3125 -25,-3.5156 -16.01562,-8.9844 -16.01563,1.9531 -6.64062,7.0313 -7.42188,0.7812 -8.20312,9.7656 -8.59375,0 -6.25,-3.9062 -29.29688,12.8906 5.85938,-25.3906 8.98437,-19.9219 19.92188,-15.625 8.59375,-44.1406 8.98437,-13.6719 42.1875,-62.5 28.125,-98.0469 -4.6875,-21.0937 3.90625,-9.375 -38.28125,-25.78139 0,-11.3281 -23.82812,-17.5781 -9.76563,-9.375 -23.04687,5.0781 -12.5,-2.7344 -26.5625,-19.9218 -3.125,-24.2188 -14.45313,-34.375 -1.95312,-25.3906 -21.09375,-14.8438 -13.28125,-4.2968 -19.92188,-13.2813 -17.96875,1.9531 -70.3125,25.7813 0.39063,-12.5 -7.42188,-12.8906 -2.73437,-6.6407 -17.96875,-3.125 -8.20313,-6.25 -12.5,-2.7343 3.125,-2.7344 13.28125,0.3906 17.1875,-10.1562 4.6875,-13.6719 16.40625,-3.5156 -15.23437,-66.0157 13.28125,-23.4375 -16.01563,-33.2031 -9.375,-3.9062 -8.59375,-10.9375 -39.84375,-9.375 -0.39062,-8.5938 50.78125,-10.9375 35.54687,27.3438 11.71875,27.7343 28.51563,17.1875 113.28125,7.8125 22.26562,-10.1562 0,-11.3281 7.8125,-14.4532 -8.98437,-15.625 -11.32813,-8.2031 -3.51562,-28.5156 11.32812,24.2187 14.0625,7.4219 20.70313,33.5938 30.85937,-16.7969 16.79688,14.8437 23.82812,-8.5937 0.78125,-10.1563 9.375,-4.6875 11.32813,7.8125 24.60937,-8.9843 1.5625,-8.5938 9.375,1.5625 13.67188,-4.6875 13.67187,8.5938 59.76563,1.5625 16.40625,7.4218 53.125,-23.0468 14.45313,1.5625 67.57812,-67.5782 57.03122,-28.5156 24.2188,2.3438 34.375,-23.4375 13.2812,-1.1719 70.3125,32.0312 z"
       inkscape:path-effect="#path-effect3367"
       id="path3365"
       d="m 1190.7545,523.10771 14.3631,13.3964 59.0565,90.4317 46.4844,21.4844 3.125,7.0312 2.7344,11.7188 13.6719,20.3125 12.8906,10.1562 5.8594,12.8907 1.1718,44.1406 3.9063,7.0312 10.5469,2.3438 c -0.6808,2.5966 -1.332,5.20099 -1.9532,7.8125 -0.9871,4.14963 -1.8988,8.31721 -2.7343,12.5 l 3.125,30.4687 -12.1094,21.875 3.125,12.5 8.9844,7.0313 -12.5,3.5156 5.0781,13.6719 3.125,5.0781 8.5937,3.5156 0,3.125 -19.1406,-4.2968 0.3906,3.9062 -38.6718,0.7813 -13.6719,-7.8125 -24.6094,-29.2969 -19.1406,-1.1719 -42.1875,-39.8437 -12.8906,-0.7813 -12.1094,8.5938 -63.2813,71.0937 -39.4531,37.8906 -13.6719,5.8594 c -6.1255,0.0848 -12.2237,1.71102 -17.5781,4.6875 -7.6635,4.2601 -13.732,11.31644 -16.7969,19.5313 l -49.21872,80.85939 -9.375,49.2188 14.0625,26.9531 2.34375,15.625 -21.875,19.5313 -24.60937,17.9687 -10.54688,19.9219 1.17188,36.3281 12.10937,24.2188 19.92188,27.3437 3.125,3.5156 -18.75,12.8907 -56.25,-5.4688 -45.31251,19.9219 -7.03125,-7.4219 -135.9375,23.0469 -10.15625,-20.3125 -25,-3.5156 -16.01562,-8.9844 -16.01563,1.9531 -6.64062,7.0313 -7.42188,0.7812 -8.20312,9.7656 -8.59375,0 -6.25,-3.9062 -29.29688,12.8906 5.85938,-25.3906 8.98437,-19.9219 19.92188,-15.625 8.59375,-44.1406 c 2.98473,-4.5639 5.97953,-9.1212 8.98437,-13.6719 13.85024,-20.9756 27.91371,-41.8103 42.1875,-62.5 l 28.125,-98.0469 -4.6875,-21.0937 3.90625,-9.375 -38.28125,-25.78139 0,-11.3281 -23.82812,-17.5781 -9.76563,-9.375 -23.04687,5.0781 -12.5,-2.7344 -26.5625,-19.9218 -3.125,-24.2188 -14.45313,-34.375 -1.95312,-25.3906 -21.09375,-14.8438 -13.28125,-4.2968 -19.92188,-13.2813 -17.96875,1.9531 -70.3125,25.7813 0.39063,-12.5 -7.42188,-12.8906 -2.73437,-6.6407 -17.96875,-3.125 -8.20313,-6.25 -12.5,-2.7343 3.125,-2.7344 13.28125,0.3906 17.1875,-10.1562 4.6875,-13.6719 16.40625,-3.5156 -15.23437,-66.0157 13.28125,-23.4375 -16.01563,-33.2031 -9.375,-3.9062 -8.59375,-10.9375 -39.84375,-9.375 -0.39062,-8.5938 50.78125,-10.9375 35.54687,27.3438 11.71875,27.7343 28.51563,17.1875 113.28125,7.8125 22.26562,-10.1562 0,-11.3281 7.8125,-14.4532 -8.98437,-15.625 -11.32813,-8.2031 -3.51562,-28.5156 11.32812,24.2187 14.0625,7.4219 20.70313,33.5938 30.85937,-16.7969 16.79688,14.8437 23.82812,-8.5937 0.78125,-10.1563 9.375,-4.6875 11.32813,7.8125 24.60937,-8.9843 1.5625,-8.5938 9.375,1.5625 13.67188,-4.6875 13.67187,8.5938 59.76563,1.5625 16.40625,7.4218 53.125,-23.0468 14.45313,1.5625 67.57812,-67.5782 57.03122,-28.5156 24.2188,2.3438 34.375,-23.4375 13.2812,-1.1719 70.3125,32.0312 1.5804,0.4688 z"
       class="westeros-region"
       >
      <title
         id="title3371">Winterfell</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1192.9642,522.83151 8.0102,-25.4116 60.767,-32.5932 12.7058,1.3811 42.8132,30.3834 19.3349,6.6292 29.0024,-1.6573 13.8107,-5.5243 13.5345,14.3631 15.1917,1.9335 11.601,-4.1432 18.5063,12.1534 17.1252,-0.2762 15.7442,15.468 13.2583,1.6572 5.8005,11.601 13.8106,-0.5524 8.2864,4.4194 14.3632,-8.2864 10.7723,-14.3631 23.7544,0.2762 14.0868,-8.0102 8.5627,1.1049 3.5907,-3.5908 8.0102,3.0383 7.1816,13.5345 7.4578,6.0767 -3.3146,14.0869 0.8286,13.2582 11.8772,9.6675 -1.6573,11.3248 6.0767,10.4961 2.7622,6.9053 -3.0384,10.4962 -5.8005,5.248 3.5908,11.0486 -2.2097,13.8106 -9.3913,18.7826 -11.6009,8.5626 -1.1049,13.8107 -5.248,11.0485 -8.2864,3.5908 -0.8287,9.9437 -2.7621,8.5626 3.3145,11.601 -6.0767,17.9538 -10.4961,-9.115 -0.2762,-18.2301 -8.5626,-4.9718 -26.7927,-5.2481 -3.5908,-23.4782 -17.1252,-19.0587 -6.0767,24.3068 6.0767,37.565 -4.9719,6.0767 -0.8286,10.7724 -9.3913,10.4961 2.2097,26.2403 -12.982,30.6597 -30.3835,-0.5524 -12.1534,11.0485 -1.9335,10.4961 1.6573,14.3631 -14.3631,1.6573 -7.1816,-9.3913 -5.248,-9.6674 -17.1253,-3.0384 -8.0102,-7.4577 -25.9641,-10.2199 -3.867,-30.3835 5.8005,-21.2685 -12.982,-3.3146 -2.7621,-7.4577 -1.9335,-44.4704 -3.5908,-12.982 -19.0588,-14.6394 -8.5626,-15.1917 -4.4194,-16.0204 -48.0612,-22.6495 z"
       inkscape:path-effect="#path-effect3375"
       id="path3373"
       d="m 1192.9642,522.83151 8.0102,-25.4116 60.767,-32.5932 12.7058,1.3811 42.8132,30.3834 19.3349,6.6292 29.0024,-1.6573 13.8107,-5.5243 13.5345,14.3631 15.1917,1.9335 11.601,-4.1432 18.5063,12.1534 17.1252,-0.2762 15.7442,15.468 13.2583,1.6572 5.8005,11.601 13.8106,-0.5524 8.2864,4.4194 14.3632,-8.2864 10.7723,-14.3631 23.7544,0.2762 14.0868,-8.0102 8.5627,1.1049 3.5907,-3.5908 8.0102,3.0383 7.1816,13.5345 7.4578,6.0767 -3.3146,14.0869 0.8286,13.2582 11.8772,9.6675 -1.6573,11.3248 6.0767,10.4961 2.7622,6.9053 -3.0384,10.4962 -5.8005,5.248 3.5908,11.0486 -2.2097,13.8106 -9.3913,18.7826 -11.6009,8.5626 -1.1049,13.8107 -5.248,11.0485 -8.2864,3.5908 -0.8287,9.9437 -2.7621,8.5626 3.3145,11.601 -6.0767,17.9538 -10.4961,-9.115 -0.2762,-18.2301 -8.5626,-4.9718 -26.7927,-5.2481 -3.5908,-23.4782 -17.1252,-19.0587 -6.0767,24.3068 6.0767,37.565 -4.9719,6.0767 -0.8286,10.7724 -9.3913,10.4961 2.2097,26.2403 -12.982,30.6597 -30.3835,-0.5524 -12.1534,11.0485 -1.9335,10.4961 1.6573,14.3631 -14.3631,1.6573 -7.1816,-9.3913 -5.248,-9.6674 -17.1253,-3.0384 -8.0102,-7.4577 -25.9641,-10.2199 -3.867,-30.3835 5.8005,-21.2685 -12.982,-3.3146 -2.7621,-7.4577 -1.9335,-44.4704 -3.5908,-12.982 -19.0588,-14.6394 -8.5626,-15.1917 -4.4194,-16.0204 -48.0612,-22.6495 -71.2631,-104.685 z"
       class="westeros-region"
       >
      <title
         id="title3377">Karhold</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 401.2835,835.23661 -8.98437,10.4492 -23.82813,-1.9531 -20.01953,-7.3242 0,3.8086 18.45703,9.7656 5.66406,10.5469 -3.90625,25.1953 -14.64843,4.3945 11.52343,6.543 c 0,0 0.39063,19.9218 -0.29296,19.9218 -0.6836,0 -11.42579,13.6719 -11.42579,13.6719 l -6.54296,0 -4.19922,4.3945 -11.32813,-8.0078 -16.40625,0.1953 -9.17969,-7.8125 -10.35156,0.6836 -12.89062,-12.7929 -10.25391,-0.3907 -6.34766,-3.6132 -8.88672,1.7578 -18.94531,17.9687 -7.8125,22.461 -0.19531,10.3515 -7.03125,11.9141 0.39062,7.5195 -14.55078,12.793 2.14844,16.40629 -5.85937,11.0352 -2.2461,21.4844 -9.96094,6.6406 -1.36718,14.9414 4.19922,11.3281 -2.2461,26.8555 8.59375,7.6172 11.71875,-1.1719 -0.29297,17.5781 -11.32812,16.0157 -3.32031,13.0859 5.27343,-0.7813 5.17578,-12.0117 9.86329,-5.957 19.72656,-12.3047 12.20703,0.3906 13.18359,-21.9726 1.17188,-8.8867 6.54297,-11.8164 10.2539,1.4648 0.78125,38.8672 -9.86328,18.75 1.07422,53.125 15.625,20.4101 13.96485,13.2813 1.07421,26.9531 -5.95703,5.7617 1.46485,10.4493 23.4375,8.8867 6.05468,6.7383 1.75782,15.9179 11.71875,8.7891 15.52734,0.3906 0.68359,14.3555 4.49219,12.3047 52.2461,-1.5625 7.32421,-8.1055 1.66016,-7.7148 4.78516,-0.7813 7.51953,-9.5703 22.7539,0.5859 3.41797,-27.0508 9.57032,-10.8398 3.51562,-19.9219 5.85938,-8.2031 6.93359,4.0039 4.39453,38.7695 -5.95703,11.7188 1.07422,8.7891 12.10937,14.746 29.88282,1.8555 9.27734,-17.5781 9.27734,-6.543 12.69532,-23.1445 20.11718,-8.3984 5.85938,4.1015 20.99609,-13.4765 7.51953,-45.0196 51.5625,-75.4883 28.41797,-99.0234 -4.58984,-21.0937 3.90625,-8.9844 -38.18359,-25.87899 -0.48829,-11.1328 -33.30078,-26.9532 -22.7539,4.7852 -12.98828,-2.5391 -26.46485,-19.8242 -2.92969,-24.5117 -14.64843,-34.375 -2.14844,-25.0977 -21.09375,-15.039 -13.86719,-4.6875 -19.53125,-13.1836 z"
       inkscape:path-effect="#path-effect3381"
       id="path3379"
       d="m 401.2835,835.23661 -8.98437,10.4492 -23.82813,-1.9531 -20.01953,-7.3242 0,3.8086 18.45703,9.7656 5.66406,10.5469 -3.90625,25.1953 -14.64843,4.3945 11.52343,6.543 c 2.30057,6.38561 2.19438,13.6066 -0.29296,19.9218 -2.21433,5.62206 -6.28627,10.49446 -11.42579,13.6719 l -6.54296,0 -4.19922,4.3945 -11.32813,-8.0078 -16.40625,0.1953 -9.17969,-7.8125 -10.35156,0.6836 -12.89062,-12.7929 -10.25391,-0.3907 -6.34766,-3.6132 -8.88672,1.7578 -18.94531,17.9687 -7.8125,22.461 -0.19531,10.3515 -7.03125,11.9141 0.39062,7.5195 -14.55078,12.793 2.14844,16.40629 -5.85937,11.0352 -2.2461,21.4844 -9.96094,6.6406 -1.36718,14.9414 4.19922,11.3281 -2.2461,26.8555 8.59375,7.6172 11.71875,-1.1719 -0.29297,17.5781 -11.32812,16.0157 -3.32031,13.0859 5.27343,-0.7813 5.17578,-12.0117 c 3.2972,-1.97 6.58502,-3.9557 9.86329,-5.957 6.61477,-4.0382 13.19069,-8.14 19.72656,-12.3047 l 12.20703,0.3906 13.18359,-21.9726 1.17188,-8.8867 6.54297,-11.8164 10.2539,1.4648 0.78125,38.8672 -9.86328,18.75 1.07422,53.125 15.625,20.4101 13.96485,13.2813 1.07421,26.9531 -5.95703,5.7617 1.46485,10.4493 23.4375,8.8867 6.05468,6.7383 1.75782,15.9179 11.71875,8.7891 15.52734,0.3906 0.68359,14.3555 4.49219,12.3047 52.2461,-1.5625 7.32421,-8.1055 1.66016,-7.7148 4.78516,-0.7813 7.51953,-9.5703 22.7539,0.5859 3.41797,-27.0508 9.57032,-10.8398 3.51562,-19.9219 5.85938,-8.2031 6.93359,4.0039 4.39453,38.7695 -5.95703,11.7188 1.07422,8.7891 12.10937,14.746 29.88282,1.8555 9.27734,-17.5781 9.27734,-6.543 12.69532,-23.1445 20.11718,-8.3984 5.85938,4.1015 20.99609,-13.4765 7.51953,-45.0196 51.5625,-75.4883 28.41797,-99.0234 -4.58984,-21.0937 3.90625,-8.9844 -38.18359,-25.87899 -0.48829,-11.1328 -33.30078,-26.9532 -22.7539,4.7852 -12.98828,-2.5391 -26.46485,-19.8242 -2.92969,-24.5117 -14.64843,-34.375 -2.14844,-25.0977 -21.09375,-15.039 -13.86719,-4.6875 -19.53125,-13.1836 -87.01172,29.0039 z"
       class="westeros-region"
       >
      <title
         id="title3383">The Stony Short</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 972.86554,1274.9828 18.55469,-6.4453 28.12497,-21.3868 10.0586,-26.5625 7.0313,-2.0507 7.8125,5.7617 2.539,11.6211 24.3164,35.6445 2.6368,8.3008 0.7812,36.2305 9.8633,18.2617 89.4531,4.9804 25.1953,18.75 0.3907,9.7657 5.664,3.5156 20.8985,-15.332 14.2578,-0.9766 25.2929,-1.8555 8.3985,-13.6718 8.3984,-7.2266 2.0508,-14.8438 9.7656,-12.0117 3.2227,-18.164 9.1797,-12.4024 -1.7579,-35.7422 -38.0859,6.0547 -21.0937,-8.4961 -5.5664,-20.1172 -24.4141,-13.7695 -4.6875,-7.6172 -23.4375,-15.625 -5.6641,-11.914 3.5157,-17.8711 -10.9375,-20.2149 1.2695,-8.5937 20.7031,-19.4336 19.4336,-10.1563 2.2461,-9.1797 -4.7852,-19.3359 2.5391,-5.2734 5.3711,-4.4922 6.1523,-26.0742 14.3555,-10.1563 24.5286,-6.5287 9.6674,-9.9438 1.5192,-8.97689 19.6112,-12.5677 64.5955,5.8881 6.25,-10.1562 32.8125,-3.9063 -6.25,-25.7812 -31.25,-14.8438 -3.9063,-17.1875 -10.1562,-4.6875 -2.3438,-25.7812 -39.0625,3.125 -15.625,-10.1563 -21.875,-28.9062 -20.3125,0 -39.8437,-39.0625 -15.625,-2.3438 -116.4063,121.875 -26.5625,8.5938 -61.71872,90.62509 -9.375,23.4375 -4.6875,34.375 17.1875,39.0625 -49.21875,42.9687 -10.9375,19.5313 2.34375,35.9375 z"
       inkscape:path-effect="#path-effect3387"
       id="path3385"
       d="m 972.86554,1274.9828 18.55469,-6.4453 28.12497,-21.3868 10.0586,-26.5625 7.0313,-2.0507 7.8125,5.7617 2.539,11.6211 24.3164,35.6445 2.6368,8.3008 0.7812,36.2305 9.8633,18.2617 89.4531,4.9804 25.1953,18.75 0.3907,9.7657 5.664,3.5156 20.8985,-15.332 c 4.7532,-0.3172 9.5058,-0.6428 14.2578,-0.9766 8.4329,-0.5924 16.8639,-1.2109 25.2929,-1.8555 l 8.3985,-13.6718 8.3984,-7.2266 2.0508,-14.8438 9.7656,-12.0117 3.2227,-18.164 9.1797,-12.4024 -1.7579,-35.7422 -38.0859,6.0547 -21.0937,-8.4961 -5.5664,-20.1172 -24.4141,-13.7695 -4.6875,-7.6172 -23.4375,-15.625 -5.6641,-11.914 3.5157,-17.8711 -10.9375,-20.2149 1.2695,-8.5937 20.7031,-19.4336 19.4336,-10.1563 2.2461,-9.1797 -4.7852,-19.3359 2.5391,-5.2734 5.3711,-4.4922 6.1523,-26.0742 14.3555,-10.1563 24.5286,-6.5287 9.6674,-9.9438 1.5192,-8.97689 19.6112,-12.5677 64.5955,5.8881 6.25,-10.1562 32.8125,-3.9063 -6.25,-25.7812 -31.25,-14.8438 -3.9063,-17.1875 -10.1562,-4.6875 -2.3438,-25.7812 -39.0625,3.125 -15.625,-10.1563 -21.875,-28.9062 -20.3125,0 -39.8437,-39.0625 -15.625,-2.3438 -116.4063,121.875 -26.5625,8.5938 -61.71872,90.62509 -9.375,23.4375 -4.6875,34.375 17.1875,39.0625 -49.21875,42.9687 -10.9375,19.5313 2.34375,35.9375 37.59766,53.5156 z"
       class="westeros-region"
        >
        <title
           id="title3383">White Harbor</title>
       </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1303.7259,1240.1583 -36.7364,6.0767 -21.2685,-9.6675 -6.9053,-21.2684 -23.2019,-11.601 -3.867,-9.3912 -24.0306,-14.0869 -4.9719,-13.2583 3.0384,-17.9539 -10.7723,-17.4014 -0.5525,-10.7723 41.9845,-30.3835 0.5524,-6.9054 -4.4194,-18.7825 2.2097,-6.3529 5.8005,-3.867 6.9053,-27.8976 13.5345,-9.6675 25.1354,-5.5242 10.7724,-11.3249 0.2762,-6.90529 19.6111,-14.0869 66.5675,5.8005 16.8491,31.76459 19.8873,6.0767 2.7622,7.4578 6.0767,5.2481 13.5344,30.1072 14.6394,0.2762 5.5242,13.8107 -7.1815,3.0384 2.4859,15.7442 9.3913,8.8388 0.2762,5.8005 -9.6675,3.867 -0.8286,22.6495 5.5242,13.5344 18.7825,-1.6572 7.734,11.8771 20.1636,2.7622 3.5908,12.7058 15.468,4.6956 -23.7544,2.486 -10.4961,4.1432 -17.4015,-13.5345 -23.2019,-6.0767 -11.3248,-8.5626 -24.3068,4.6956 -16.0204,-9.115 -11.0485,-0.2763 -40.051,-20.4398 -6.6291,7.1816 4.1432,35.3553 -3.3146,13.5345 -10.2199,11.601 z"
       inkscape:path-effect="#path-effect3391"
       id="path3389"
       d="m 1303.7259,1240.1583 -36.7364,6.0767 -21.2685,-9.6675 -6.9053,-21.2684 -23.2019,-11.601 -3.867,-9.3912 -24.0306,-14.0869 -4.9719,-13.2583 3.0384,-17.9539 -10.7723,-17.4014 -0.5525,-10.7723 41.9845,-30.3835 0.5524,-6.9054 -4.4194,-18.7825 2.2097,-6.3529 5.8005,-3.867 6.9053,-27.8976 13.5345,-9.6675 25.1354,-5.5242 10.7724,-11.3249 0.2762,-6.90529 19.6111,-14.0869 66.5675,5.8005 16.8491,31.76459 19.8873,6.0767 2.7622,7.4578 6.0767,5.2481 13.5344,30.1072 14.6394,0.2762 5.5242,13.8107 -7.1815,3.0384 2.4859,15.7442 9.3913,8.8388 0.2762,5.8005 -9.6675,3.867 -0.8286,22.6495 5.5242,13.5344 18.7825,-1.6572 7.734,11.8771 20.1636,2.7622 3.5908,12.7058 15.468,4.6956 -23.7544,2.486 -10.4961,4.1432 -17.4015,-13.5345 -23.2019,-6.0767 -11.3248,-8.5626 -24.3068,4.6956 -16.0204,-9.115 -11.0485,-0.2763 -40.051,-20.4398 -6.6291,7.1816 4.1432,35.3553 -3.3146,13.5345 -10.2199,11.601 -11.0485,35.6315 z"
       class="westeros-region"
       >
      <desc
         id="desc3393">Widow's Watch</desc>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 848.93975,1302.3265 -1.5625,11.7188 -78.125,16.0156 -10.15625,38.2813 4.29688,21.0937 -39.45313,75.7813 9.375,103.9062 -10.15625,58.9844 -1.17187,19.9219 14.84375,7.4218 5.07812,41.7969 16.01563,8.5937 21.48437,-54.6874 19.92188,0.7812 50.39062,11.3281 23.04688,-12.1093 30.85938,3.5156 29.29687,-37.5 -16.40625,-6.6406 -8.59375,-31.6407 -14.84375,-10.5468 6.64063,-25.7813 -2.34375,-8.2031 18.75,-13.2813 12.5,2.3438 -1.5625,-13.6719 20.3125,-52.7344 13.28125,-3.125 9.375,-14.8437 -4.29688,-24.6094 16.01563,-26.1719 19.53124,-0.3906 -1.1719,-19.5312 14.0625,-6.25 -4.6875,-26.5625 24.2188,-28.5157 -3.5156,-47.6562 -9.375,-14.8438 -68.75004,45.3125 -54.6875,-7.0312 z"
       inkscape:path-effect="#path-effect3397"
       id="path3395"
       d="m 848.93975,1302.3265 -1.5625,11.7188 -78.125,16.0156 -10.15625,38.2813 4.29688,21.0937 -39.45313,75.7813 9.375,103.9062 -10.15625,58.9844 -1.17187,19.9219 14.84375,7.4218 5.07812,41.7969 16.01563,8.5937 21.48437,-54.6874 19.92188,0.7812 50.39062,11.3281 23.04688,-12.1093 30.85938,3.5156 29.29687,-37.5 -16.40625,-6.6406 -8.59375,-31.6407 -14.84375,-10.5468 6.64063,-25.7813 -2.34375,-8.2031 18.75,-13.2813 12.5,2.3438 -1.5625,-13.6719 20.3125,-52.7344 13.28125,-3.125 9.375,-14.8437 -4.29688,-24.6094 16.01563,-26.1719 19.53124,-0.3906 -1.1719,-19.5312 14.0625,-6.25 -4.6875,-26.5625 24.2188,-28.5157 -3.5156,-47.6562 -9.375,-14.8438 -68.75004,45.3125 -54.6875,-7.0312 -48.43751,19.5312 z"
       class="westeros-region"
        />
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 767.68975,1329.6703 -63.28125,3.9062 -27.73437,11.3282 -12.10938,-3.9063 -19.92187,5.4688 -19.14063,9.375 -25.78125,-1.9532 -24.60937,14.0625 c 0,0 -9.76563,0.7813 -11.32813,0.7813 -1.5625,0 -16.40625,7.4219 -16.40625,7.4219 l -19.92187,-14.4532 2.34375,80.0782 -11.71875,26.5625 6.25,32.0312 -24.21875,46.0938 76.06766,59.9503 34.5267,-22.9257 49.44224,-2.7621 9.94368,7.734 37.28884,1.381 16.2966,42.2607 12.42961,-65.4626 -12.42961,-102.199 40.87961,-75.1301 z"
       inkscape:path-effect="#path-effect3401"
       id="path3399"
       d="m 767.68975,1329.6703 -63.28125,3.9062 -27.73437,11.3282 -12.10938,-3.9063 -19.92187,5.4688 -19.14063,9.375 -25.78125,-1.9532 -24.60937,14.0625 c -3.78805,-0.2595 -7.61157,0 -11.32813,0.7813 -5.92237,1.2383 -11.56608,3.7914 -16.40625,7.4219 l -19.92187,-14.4532 2.34375,80.0782 -11.71875,26.5625 6.25,32.0312 -24.21875,46.0938 76.06766,59.9503 34.5267,-22.9257 49.44224,-2.7621 9.94368,7.734 37.28884,1.381 16.2966,42.2607 12.42961,-65.4626 -12.42961,-102.199 40.87961,-75.1301 3.13279,-59.6434 z"
       class="westeros-region"
        />
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 525.50225,1359.3578 -17.57812,10.5469 -23.04688,-2.3438 -10.15625,-7.8125 -17.96875,3.125 -2.34375,21.875 -18.75,17.1875 -42.96875,17.5781 12.10938,16.4063 -8.98438,18.3594 -38.67187,14.0625 -19.14063,0.3906 -11.71875,-22.6563 -16.01562,9.375 -6.25,-7.4218 -8.20313,-1.9532 -0.39062,-5.4687 -10.15625,-6.6406 0,-7.0313 -7.8125,-4.2969 -7.8125,7.0313 -25.78125,42.5781 -12.10938,5.4688 -12.5,33.2031 -11.32812,8.9844 -3.90625,15.625 10.9375,23.4375 23.4375,16.7968 49.21875,-3.9062 6.25,8.9844 21.875,-8.2032 16.40625,7.8125 35.15625,-17.9687 41.01562,1.5625 14.84375,-8.9844 5.07813,3.5156 21.48437,-13.2812 15.23438,0.7812 19.53125,-7.0312 16.40625,6.6406 24.60937,-42.9687 -7.8125,-35.9375 11.71875,-25 z"
       inkscape:path-effect="#path-effect3407"
       id="path3405"
       d="m 525.50225,1359.3578 -17.57812,10.5469 -23.04688,-2.3438 -10.15625,-7.8125 -17.96875,3.125 -2.34375,21.875 -18.75,17.1875 -42.96875,17.5781 12.10938,16.4063 -8.98438,18.3594 -38.67187,14.0625 -19.14063,0.3906 -11.71875,-22.6563 -16.01562,9.375 -6.25,-7.4218 -8.20313,-1.9532 -0.39062,-5.4687 -10.15625,-6.6406 0,-7.0313 -7.8125,-4.2969 -7.8125,7.0313 -25.78125,42.5781 -12.10938,5.4688 -12.5,33.2031 -11.32812,8.9844 -3.90625,15.625 10.9375,23.4375 23.4375,16.7968 49.21875,-3.9062 6.25,8.9844 21.875,-8.2032 16.40625,7.8125 35.15625,-17.9687 41.01562,1.5625 14.84375,-8.9844 5.07813,3.5156 21.48437,-13.2812 15.23438,0.7812 19.53125,-7.0312 16.40625,6.6406 24.60937,-42.9687 -7.8125,-35.9375 11.71875,-25 -3.90625,-82.4219 z"
       class="westeros-region"
       >
      <title
         id="title3409">Funt's Finger</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 125.89288,1673.8109 0,150.7812 165.625,153.9063 21.875,-0.7813 26.5625,-9.375 8.59375,13.2813 82.8125,-49.2188 17.96875,4.6875 48.4375,-25.7812 -17.96875,-57.8125 33.59375,-66.4063 -2.34375,-114.0625 z"
       inkscape:path-effect="#path-effect3417"
       id="path3415"
       d="m 125.89288,1673.8109 0,150.7812 165.625,153.9063 21.875,-0.7813 26.5625,-9.375 8.59375,13.2813 82.8125,-49.2188 17.96875,4.6875 48.4375,-25.7812 -17.96875,-57.8125 33.59375,-66.4063 -2.34375,-114.0625 -385.15625,0.7813 z"
       class="westeros-region"
       >
      <title
         id="title3419">Pyke</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 608.90069,1583.7718 -32.22656,22.8516 4.6875,10.3516 18.94531,1.5625 3.71094,5.0781 4.29687,-7.2266 31.25,49.2188 11.13282,7.6172 12.69531,29.8828 19.33594,12.8906 1.36718,31.25 -9.375,3.9062 -1.75781,15.625 -73.82812,31.4454 5.46875,24.414 9.17968,8.5938 10.9375,-1.1719 9.17969,-10.7422 11.91406,1.9531 7.8125,-9.375 24.02344,-4.8828 16.99219,-19.3359 18.16406,-0.1953 14.25781,-3.3203 38.47657,15.4296 13.28125,64.2579 44.92187,12.3046 31.05469,18.3594 39.0625,12.5 17.57813,-6.25 -56.25001,-78.3203 -57.42187,-45.3125 -7.22656,-34.1797 -22.26563,-7.6172 -8.39844,-25.5859 -25.78125,-25.7813 3.125,-25.9765 -13.86718,-5.4688 2.53906,-18.75 -14.25781,-9.375 0,-19.5312 -5.46875,-15.4297 -37.89063,0 -14.25781,-10.5469 z"
       inkscape:path-effect="#path-effect3423"
       id="path3421"
       class="westeros-region"
       d="m 608.90069,1583.7718 -32.22656,22.8516 4.6875,10.3516 18.94531,1.5625 3.71094,5.0781 4.29687,-7.2266 31.25,49.2188 11.13282,7.6172 12.69531,29.8828 19.33594,12.8906 1.36718,31.25 -9.375,3.9062 -1.75781,15.625 -73.82812,31.4454 5.46875,24.414 9.17968,8.5938 10.9375,-1.1719 9.17969,-10.7422 11.91406,1.9531 7.8125,-9.375 24.02344,-4.8828 16.99219,-19.3359 18.16406,-0.1953 14.25781,-3.3203 38.47657,15.4296 13.28125,64.2579 44.92187,12.3046 31.05469,18.3594 39.0625,12.5 17.57813,-6.25 -56.25001,-78.3203 -57.42187,-45.3125 -7.22656,-34.1797 -22.26563,-7.6172 -8.39844,-25.5859 -25.78125,-25.7813 3.125,-25.9765 -13.86718,-5.4688 2.53906,-18.75 -14.25781,-9.375 0,-19.5312 -5.46875,-15.4297 -37.89063,0 -14.25781,-10.5469 -45.11719,4.8828 z"
       >
      <title
         id="title3425">Seagard</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 924.20842,1883.4598 36.18398,-52.7568 13.81068,2.2097 43.08932,-9.9437 42.2607,-33.1456 10.7723,-7.1816 35.0791,2.2097 8.2864,-12.4296 -14.6393,-4.6956 -31.7645,-77.8923 14.9155,-27.6213 -3.5908,-17.4015 -24.0306,-35.3553 -51.6519,10.4961 -22.37331,13.2583 -18.2301,-2.2098 -14.08689,-14.3631 -15.46796,0 -26.79272,37.5651 -33.97427,-1.9335 -20.99224,9.3913 -52.75679,-9.1151 -18.50631,59.1097 10.49612,13.2583 14.63932,3.3145 13.53446,44.4704 52.48058,37.0126 z"
       inkscape:path-effect="#path-effect3429"
       id="path3427"
       d="m 924.20842,1883.4598 36.18398,-52.7568 13.81068,2.2097 43.08932,-9.9437 42.2607,-33.1456 10.7723,-7.1816 35.0791,2.2097 8.2864,-12.4296 -14.6393,-4.6956 -31.7645,-77.8923 14.9155,-27.6213 -3.5908,-17.4015 -24.0306,-35.3553 -51.6519,10.4961 -22.37331,13.2583 -18.2301,-2.2098 -14.08689,-14.3631 -15.46796,0 -26.79272,37.5651 -33.97427,-1.9335 -20.99224,9.3913 -52.75679,-9.1151 -18.50631,59.1097 10.49612,13.2583 14.63932,3.3145 13.53446,44.4704 52.48058,37.0126 53.30923,73.7491 z"
       class="westeros-region"
       >
      <title
         id="title3431">The Twins</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1113.4147,1772.4219 54.1379,-0.5524 14.3631,-3.867 46.4039,16.0204 37.565,-14.9156 46.4039,-2.2097 59.6621,-46.4039 0,-19.3349 43.6418,-65.7388 75.6825,-18.7826 117.1146,-82.3116 -108.2757,72.368 -28.7263,-2.2098 70.7107,-65.1864 -98.332,74.5777 -33.1457,-28.1738 55.7952,-33.1456 24.3068,-39.7748 -41.9845,35.9078 -70.1582,20.9922 12.7058,-28.1738 57.4524,-21.5446 7.734,-17.1253 52.4806,-27.6213 -65.7388,21.5446 2.2097,7.1816 -50.2709,29.2786 -20.4398,-4.4194 -9.9437,14.3631 -18.7825,-1.1048 -32.5932,5.5242 -10.4962,-18.7825 20.9923,-24.8592 -33.6981,27.0689 -24.8592,-8.8388 -27.0689,32.5932 -27.6214,3.3146 -16.5728,12.7058 -28.1738,-13.8107 -11.0485,4.9719 -9.3913,31.4883 -29.2786,0 -7.1816,-10.4961 -16.5728,5.5243 2.7621,24.3068 -41.9844,-2.2098 27.6213,40.3272 0,18.2301 -12.7058,24.8592 28.1738,71.2631 z"
       inkscape:path-effect="#path-effect3435"
       id="path3433"
       d="m 1113.4147,1772.4219 54.1379,-0.5524 14.3631,-3.867 46.4039,16.0204 37.565,-14.9156 46.4039,-2.2097 59.6621,-46.4039 0,-19.3349 43.6418,-65.7388 75.6825,-18.7826 117.1146,-82.3116 -108.2757,72.368 -28.7263,-2.2098 70.7107,-65.1864 -98.332,74.5777 -33.1457,-28.1738 55.7952,-33.1456 24.3068,-39.7748 -41.9845,35.9078 -70.1582,20.9922 12.7058,-28.1738 57.4524,-21.5446 7.734,-17.1253 52.4806,-27.6213 -65.7388,21.5446 2.2097,7.1816 -50.2709,29.2786 -20.4398,-4.4194 -9.9437,14.3631 -18.7825,-1.1048 -32.5932,5.5242 -10.4962,-18.7825 20.9923,-24.8592 -33.6981,27.0689 -24.8592,-8.8388 -27.0689,32.5932 -27.6214,3.3146 -16.5728,12.7058 -28.1738,-13.8107 -11.0485,4.9719 -9.3913,31.4883 -29.2786,0 -7.1816,-10.4961 -16.5728,5.5243 2.7621,24.3068 -41.9844,-2.2098 27.6213,40.3272 0,18.2301 -12.7058,24.8592 28.1738,71.2631 17.1252,7.1816 z"
       class="westeros-region"
       >
      <title
         id="title3437">The Fingers</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 923.15851,1885.139 33.78906,-52.3437 9.375,-4.4922 11.13281,4.8828 15.23438,-8.0078 25.78124,-0.586 53.125,-42.5781 33.2031,3.3203 9.961,-12.6953 51.9531,1.9531 14.8437,-5.664 48.4375,13.2812 32.6172,-13.4765 46.2891,-0.3907 62.3047,-47.4609 53.9062,-20.8984 7.4219,-10.9375 14.2578,-2.1485 10.9375,-12.8906 20.1172,5.6641 19.9219,-13.4766 27.5391,3.125 15.625,-6.4453 13.8671,0.3906 14.8438,-11.914 26.5625,-7.0313 21.2891,-16.4062 -6.25,12.1093 4.6875,8.0079 -14.0625,4.4921 -17.9688,9.7657 -3.3203,11.5234 -25.7813,13.6719 -5.8593,21.4843 21.4843,1.5625 0.9766,17.7735 11.3281,8.0078 15.625,-2.1484 8.0078,-11.5235 0,-8.9844 16.7969,-13.0859 -10.1562,18.9453 4.1015,8.3985 16.211,4.8828 -0.9766,20.3125 -32.6172,12.6953 -11.5234,-4.6875 -6.25,16.0156 8.789,12.6953 -3.7109,8.2031 c 0,0 -33.9844,14.4532 -34.9609,15.0391 -0.9766,0.5859 -19.5313,-3.7109 -19.5313,-3.7109 l -6.25,3.5156 -15.0391,0 -8.2031,44.1406 -45.8984,12.6953 -21.2891,15.4297 -49.8047,19.7266 -20.5078,-13.2813 -12.8906,-19.7265 -19.7266,10.1562 -15.8203,-6.4453 -60.9375,27.5391 27.5391,14.8437 -7.2266,8.5938 -69.3359,3.125 -17.7735,18.9453 27.9297,20.1172 -4.1015,11.5234 32.8125,11.7188 35.5468,29.6875 40.8204,23.2421 29.4921,26.3672 25.9766,7.8125 0.3906,14.6485 -31.8359,17.3828 -26.3672,-4.2969 -27.9297,12.6953 -46.0937,-4.6875 -18.9453,-13.2812 -28.3204,3.7109 -95.7031,-53.125 -48.4375,-0.1953 -20.7031,-21.875 -5.2734,-36.7188 z"
       inkscape:path-effect="#path-effect3441"
       id="path3439"
       d="m 923.15851,1885.139 33.78906,-52.3437 9.375,-4.4922 11.13281,4.8828 15.23438,-8.0078 25.78124,-0.586 53.125,-42.5781 33.2031,3.3203 9.961,-12.6953 51.9531,1.9531 14.8437,-5.664 48.4375,13.2812 32.6172,-13.4765 46.2891,-0.3907 62.3047,-47.4609 53.9062,-20.8984 7.4219,-10.9375 14.2578,-2.1485 10.9375,-12.8906 20.1172,5.6641 19.9219,-13.4766 27.5391,3.125 15.625,-6.4453 13.8671,0.3906 14.8438,-11.914 26.5625,-7.0313 21.2891,-16.4062 -6.25,12.1093 4.6875,8.0079 -14.0625,4.4921 -17.9688,9.7657 -3.3203,11.5234 -25.7813,13.6719 -5.8593,21.4843 21.4843,1.5625 0.9766,17.7735 11.3281,8.0078 15.625,-2.1484 8.0078,-11.5235 0,-8.9844 16.7969,-13.0859 -10.1562,18.9453 4.1015,8.3985 16.211,4.8828 -0.9766,20.3125 -32.6172,12.6953 -11.5234,-4.6875 -6.25,16.0156 8.789,12.6953 -3.7109,8.2031 c -9.0795,9.3293 -21.9439,14.8632 -34.9609,15.0391 -6.6712,0.09 -13.358,-1.1803 -19.5313,-3.7109 l -6.25,3.5156 -15.0391,0 -8.2031,44.1406 -45.8984,12.6953 -21.2891,15.4297 -49.8047,19.7266 -20.5078,-13.2813 -12.8906,-19.7265 -19.7266,10.1562 -15.8203,-6.4453 -60.9375,27.5391 27.5391,14.8437 -7.2266,8.5938 -69.3359,3.125 -17.7735,18.9453 27.9297,20.1172 -4.1015,11.5234 32.8125,11.7188 35.5468,29.6875 40.8204,23.2421 29.4921,26.3672 25.9766,7.8125 0.3906,14.6485 -31.8359,17.3828 -26.3672,-4.2969 -27.9297,12.6953 -46.0937,-4.6875 -18.9453,-13.2812 -28.3204,3.7109 -95.7031,-53.125 -48.4375,-0.1953 -20.7031,-21.875 -5.2734,-36.7188 -105.46879,-108.2031 z"
       class="westeros-region"
       >
      <title
         id="title3443">The Mountains of the Moon</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1378.5798,2091.7248 27.0689,1.6573 48.6136,-39.2223 14.3631,-24.3068 38.6699,-5.5243 -30.3835,-6.0767 -0.5524,-22.0971 14.9155,-21.5447 -44.7466,-19.8873 18.2301,-22.0971 22.0971,-7.734 40.3272,0.5524 19.8874,21.5447 25.4116,-29.8311 26.5165,0.5524 -6.0767,28.7263 53.033,-41.9845 17.1253,1.6573 19.3349,-32.0408 -104.9611,-2.7621 -29.2787,18.7825 -16.5728,-3.867 -50.2709,16.5728 -16.5728,-6.6291 -27.6213,13.8107 -72.9204,-16.5729 -11.0486,-22.097 -16.0204,11.0485 -21.5446,-7.734 -55.7952,25.4117 20.9923,18.2301 -1.1049,6.0767 -75.6825,6.6291 -14.3631,18.7825 28.7262,20.4398 -4.9719,8.8389 z"
       inkscape:path-effect="#path-effect3447"
       id="path3445"
       d="m 1378.5798,2091.7248 27.0689,1.6573 48.6136,-39.2223 14.3631,-24.3068 38.6699,-5.5243 -30.3835,-6.0767 -0.5524,-22.0971 14.9155,-21.5447 -44.7466,-19.8873 18.2301,-22.0971 22.0971,-7.734 40.3272,0.5524 19.8874,21.5447 25.4116,-29.8311 26.5165,0.5524 -6.0767,28.7263 53.033,-41.9845 17.1253,1.6573 19.3349,-32.0408 -104.9611,-2.7621 -29.2787,18.7825 -16.5728,-3.867 -50.2709,16.5728 -16.5728,-6.6291 -27.6213,13.8107 -72.9204,-16.5729 -11.0486,-22.097 -16.0204,11.0485 -21.5446,-7.734 -55.7952,25.4117 20.9923,18.2301 -1.1049,6.0767 -75.6825,6.6291 -14.3631,18.7825 28.7262,20.4398 -4.9719,8.8389 165.1758,112.6951 z"
       class="westeros-region"
       >
      <title
         id="title3449">The Eyrie</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 777.539,1865.7821 2.20971,25.4116 -23.20194,37.5651 -26.51651,2.7621 -14.3631,15.468 -18.2301,-2.2097 -14.91553,32.5932 -46.95631,25.9641 -24.85923,-5.5243 35.35534,60.2145 -11.04854,24.3068 -5.52427,34.2505 25.96407,12.7059 2.76214,30.3834 26.5165,8.2865 78.99709,-28.1738 8.83884,-25.4117 22.09708,-35.3553 41.98447,-10.4961 32.5932,-37.0127 38.11748,19.8874 34.80291,-5.5243 9.39126,9.9437 31.48835,-9.9437 16.02039,14.9156 35.9078,-2.7622 -20.4398,-26.5165 -100.54178,-125.9534 -16.57282,2.2098 z"
       inkscape:path-effect="#path-effect3453"
       id="path3451"
       d="m 777.539,1865.7821 2.20971,25.4116 -23.20194,37.5651 -26.51651,2.7621 -14.3631,15.468 -18.2301,-2.2097 -14.91553,32.5932 -46.95631,25.9641 -24.85923,-5.5243 35.35534,60.2145 -11.04854,24.3068 -5.52427,34.2505 25.96407,12.7059 2.76214,30.3834 26.5165,8.2865 78.99709,-28.1738 8.83884,-25.4117 22.09708,-35.3553 41.98447,-10.4961 32.5932,-37.0127 38.11748,19.8874 34.80291,-5.5243 9.39126,9.9437 31.48835,-9.9437 16.02039,14.9156 35.9078,-2.7622 c -6.7874,-8.8587 -13.6008,-17.6976 -20.4398,-26.5165 -32.92184,-42.4526 -66.44017,-84.4426 -100.54178,-125.9534 l -16.57282,2.2098 -119.8767,-41.9845 z"
       class="westeros-region"
       >
      <title
         id="title3455">Riverrun</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 237.61163,2386.3109 24.21875,-28.125 2.34375,-28.125 30.46875,-3.9063 18.75,-30.4687 39.84375,-21.0938 30.46875,0 47.65625,-47.6562 -23.4375,-21.0938 20.3125,-77.3437 8.59375,0 30.46875,-69.5313 -29.6875,-31.25 6.25,-17.9687 33.59375,-7.0313 35.19479,13.8776 29.27864,-9.3913 25.96408,0.2763 22.64951,-14.6394 19.88738,4.4195 35.90777,57.4524 -12.42962,30.1073 -3.31456,34.2504 21.54466,11.601 -1.10485,53.3092 -14.91554,3.3146 -45.85145,35.6316 -17.12524,-1.3811 6.07669,26.2403 -2.48592,8.2864 10.2199,24.583 -5.24805,19.3349 6.62912,17.4015 -12.1534,7.1816 -33.42184,32.8694 -17.12524,2.2097 -19.33495,14.3631 -30.65971,-2.7621 -28.17379,14.3631 -83.69271,-11.0486 -4.14321,-27.6213 z"
       inkscape:path-effect="#path-effect3459"
       id="path3457"
       d="m 237.61163,2386.3109 24.21875,-28.125 2.34375,-28.125 30.46875,-3.9063 18.75,-30.4687 39.84375,-21.0938 30.46875,0 47.65625,-47.6562 -23.4375,-21.0938 20.3125,-77.3437 8.59375,0 30.46875,-69.5313 -29.6875,-31.25 6.25,-17.9687 33.59375,-7.0313 35.19479,13.8776 29.27864,-9.3913 25.96408,0.2763 22.64951,-14.6394 19.88738,4.4195 35.90777,57.4524 -12.42962,30.1073 -3.31456,34.2504 21.54466,11.601 -1.10485,53.3092 -14.91554,3.3146 -45.85145,35.6316 -17.12524,-1.3811 6.07669,26.2403 -2.48592,8.2864 10.2199,24.583 -5.24805,19.3349 6.62912,17.4015 -12.1534,7.1816 -33.42184,32.8694 -17.12524,2.2097 -19.33495,14.3631 -30.65971,-2.7621 -28.17379,14.3631 -83.69271,-11.0486 -4.14321,-27.6213 -122.01621,39.3647 z"
       class="westeros-region"
       >
      <title
         id="title3461">Lannisport</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 839.41084,2066.3132 20.99224,23.2019 -16.57282,24.8592 60.76699,92.8078 -12.70582,48.6136 16.02039,35.3553 120.42908,6.0767 65.1864,-31.4883 11.0486,-90.5981 -27.0689,-109.3806 -30.3835,4.4194 -14.9156,-13.8106 -37.01259,7.1815 -20.99223,-19.8874 -25.41165,12.1534 -77.89224,-22.0971 z"
       inkscape:path-effect="#path-effect3465"
       id="path3463"
       d="m 839.41084,2066.3132 20.99224,23.2019 -16.57282,24.8592 60.76699,92.8078 -12.70582,48.6136 16.02039,35.3553 120.42908,6.0767 65.1864,-31.4883 11.0486,-90.5981 -27.0689,-109.3806 -30.3835,4.4194 -14.9156,-13.8106 -37.01259,7.1815 -20.99223,-19.8874 -25.41165,12.1534 -77.89224,-22.0971 -31.48835,32.5933 z"
       class="westeros-region"
       >
      <title
         id="title3467">Harrenhal</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1082.4788,2068.5229 106.6185,49.7184 75.6825,47.5087 71.8155,-17.6776 85.6262,23.7543 166.2806,-113.2475 -7.734,45.299 -36.4602,18.7825 14.3631,25.4117 -27.6213,30.3835 -50.2709,-0.5525 0,19.8874 -50.2709,5.5243 0,20.9922 -27.6213,-11.6009 -48.6136,32.5932 -63.5291,107.7233 -73.4729,3.8669 -40.3271,-17.6776 -97.7797,60.2145 -27.6213,-55.7951 -22.6495,-46.4039 65.1864,-28.7262 12.7058,-92.8078 z"
       inkscape:path-effect="#path-effect3471"
       id="path3469"
       d="m 1082.4788,2068.5229 106.6185,49.7184 75.6825,47.5087 71.8155,-17.6776 85.6262,23.7543 166.2806,-113.2475 -7.734,45.299 -36.4602,18.7825 14.3631,25.4117 -27.6213,30.3835 -50.2709,-0.5525 0,19.8874 -50.2709,5.5243 0,20.9922 -27.6213,-11.6009 -48.6136,32.5932 -63.5291,107.7233 -73.4729,3.8669 -40.3271,-17.6776 -97.7797,60.2145 c -9.264,-18.5701 -18.4712,-37.1686 -27.6213,-55.7951 -7.5891,-15.4488 -15.139,-30.9168 -22.6495,-46.4039 l 65.1864,-28.7262 12.7058,-92.8078 -24.3068,-107.1708 z"
       class="westeros-region"
       >
      <title
         id="title3473">Crackclaw Point</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 581.42735,2454.117 14.36311,-14.3631 24.85922,9.9437 58.55728,-48.0612 24.85923,6.0767 26.5165,-16.5728 44.7466,13.2583 133.13495,-108.8282 -16.02039,-39.7747 11.04855,-48.6136 -59.66214,-92.8078 17.67767,-28.1738 -22.64951,-19.3349 -39.77476,8.8388 -34.80291,66.2913 -82.86408,24.8592 -25.41165,-7.1816 -8.28641,29.8311 -17.67767,-3.867 -55.79514,41.4321 15.46796,90.598 -19.33495,9.9437 17.67767,40.8796 z"
       inkscape:path-effect="#path-effect3477"
       id="path3475"
       d="m 581.42735,2454.117 14.36311,-14.3631 24.85922,9.9437 58.55728,-48.0612 24.85923,6.0767 26.5165,-16.5728 44.7466,13.2583 133.13495,-108.8282 -16.02039,-39.7747 11.04855,-48.6136 -59.66214,-92.8078 17.67767,-28.1738 -22.64951,-19.3349 -39.77476,8.8388 -34.80291,66.2913 -82.86408,24.8592 -25.41165,-7.1816 -8.28641,29.8311 -17.67767,-3.867 -55.79514,41.4321 15.46796,90.598 -19.33495,9.9437 17.67767,40.8796 -6.62913,85.6262 z"
       class="westeros-region"
       >
      <title
         id="title3479">Stoney Sept</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 361.00891,2375.6724 6.0767,26.5165 -22.64951,38.6699 3.31456,18.2301 -16.57282,6.6291 0.55243,37.565 -20.43981,64.0816 -23.20194,10.4961 1.65728,56.9 9.94369,6.0767 12.1534,31.4883 -17.67767,17.1253 61.31942,2.2097 41.98446,-11.0486 25.96408,-18.2301 30.93592,3.3146 121.53398,71.2631 13.81068,-80.1019 17.12524,-4.9719 -24.85922,-42.5369 3.86699,-31.4883 -11.04854,-43.6418 12.15339,-20.4398 -7.73398,-126.5058 7.73398,-19.3349 -14.91553,-37.0126 -66.29126,44.1941 -25.41165,-3.3145 -32.04078,14.3631 z"
       inkscape:path-effect="#path-effect3483"
       id="path3481"
       d="m 361.00891,2375.6724 6.0767,26.5165 -22.64951,38.6699 3.31456,18.2301 -16.57282,6.6291 0.55243,37.565 -20.43981,64.0816 -23.20194,10.4961 1.65728,56.9 9.94369,6.0767 12.1534,31.4883 -17.67767,17.1253 61.31942,2.2097 41.98446,-11.0486 25.96408,-18.2301 30.93592,3.3146 121.53398,71.2631 13.81068,-80.1019 17.12524,-4.9719 -24.85922,-42.5369 3.86699,-31.4883 -11.04854,-43.6418 12.15339,-20.4398 -7.73398,-126.5058 7.73398,-19.3349 -14.91553,-37.0126 -66.29126,44.1941 -25.41165,-3.3145 -32.04078,14.3631 -87.28349,-10.4961 z"
       class="westeros-region"
       >
      <title
         id="title3485">Searoad Marches</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 579.01788,2455.0609 18.75,-13.2813 13.28125,11.7188 61.71875,-48.4375 31.25,2.3437 22.65625,-15.625 42.96875,12.5 35.9375,-19.5312 46.875,-59.375 44.53125,-14.8438 17.96875,-20.3125 35.15625,-12.5 79.68747,18.75 26.5625,25 -3.9062,24.2188 28.9062,55.4687 2.3438,132.0313 -37.5,-8.5938 -39.0625,34.375 -61.71877,28.9063 -15.625,36.7187 -43.75,1.5625 -30.46875,23.4375 -28.90625,-6.25 -102.34375,25 -40.625,-17.9687 -82.8125,1.5625 -19.53125,-35.1563 8.59375,-33.5937 -16.40625,-43.75 14.0625,-21.875 z"
       inkscape:path-effect="#path-effect3489"
       id="path3487"
       d="m 579.01788,2455.0609 18.75,-13.2813 13.28125,11.7188 61.71875,-48.4375 31.25,2.3437 22.65625,-15.625 42.96875,12.5 35.9375,-19.5312 46.875,-59.375 44.53125,-14.8438 17.96875,-20.3125 35.15625,-12.5 79.68747,18.75 26.5625,25 -3.9062,24.2188 28.9062,55.4687 2.3438,132.0313 -37.5,-8.5938 -39.0625,34.375 -61.71877,28.9063 -15.625,36.7187 -43.75,1.5625 -30.46875,23.4375 -28.90625,-6.25 -102.34375,25 -40.625,-17.9687 -82.8125,1.5625 -19.53125,-35.1563 8.59375,-33.5937 -16.40625,-43.75 14.0625,-21.875 -8.59375,-62.5 z"
       class="westeros-region"
       >
      <title
         id="title3491">Blackwater</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1082.1429,2401.1546 0.7812,132.0313 0,65.625 58.5938,46.875 60.9375,10.9375 188.2812,-133.5938 -13.2812,-43.75 -133.5938,39.0625 -39.8437,-10.1562 3.125,-30.4688 -7.8125,-26.5625 89.0625,-33.5937 -4.6875,14.0625 50,-67.1875 -7.8125,-21.0938 -31.25,13.2813 -85.1563,0 -33.5937,-16.4063 z"
       inkscape:path-effect="#path-effect3495"
       id="path3493"
       d="m 1082.1429,2401.1546 c 0.4343,44.0092 0.6947,88.0201 0.7812,132.0313 0.043,21.875 0.043,43.75 0,65.625 l 58.5938,46.875 60.9375,10.9375 188.2812,-133.5938 -13.2812,-43.75 -133.5938,39.0625 -39.8437,-10.1562 3.125,-30.4688 -7.8125,-26.5625 89.0625,-33.5937 -4.6875,14.0625 50,-67.1875 -7.8125,-21.0938 -31.25,13.2813 -85.1563,0 -33.5937,-16.4063 -93.75,60.9375 z"
       class="westeros-region"
       >
      <title
         id="title3497">King's Landing</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1831.3616,2126.1546 -180.4687,-0.7812 -71.0938,103.9062 -40.625,10.9375 150.7813,197.6563 138.2812,-1.5625 z"
       inkscape:path-effect="#path-effect3501"
       id="path3499"
       d="m 1831.3616,2126.1546 -180.4687,-0.7812 -71.0938,103.9062 -40.625,10.9375 150.7813,197.6563 138.2812,-1.5625 3.125,-310.1563 z"
       class="westeros-region"
       >
      <title
         id="title3503">Dragonstone</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 286.04913,2692.1702 40.625,47.6563 1.5625,25.3906 7.8125,13.2813 49.21875,3.125 7.03125,23.4375 44.92187,5.4687 10.9375,30.0781 35.9375,13.6719 3.51563,37.1094 -53.51563,3.5156 -13.28125,11.7188 38.28125,33.9843 0.39063,19.5313 17.57812,17.5781 30.07813,0 3.125,8.2031 25.78125,-13.2812 48.82812,-51.9531 39.84375,-11.3282 42.1875,-38.2812 6.25,-17.9688 -30.07812,-28.9062 -17.57813,-1.1719 -25.78125,-62.1094 -23.4375,-28.125 -117.96875,-67.1875 -32.8125,-6.6406 -29.29687,23.4375 -58.98438,12.8906 z"
       inkscape:path-effect="#path-effect3507"
       id="path3505"
       d="m 286.04913,2692.1702 40.625,47.6563 1.5625,25.3906 7.8125,13.2813 49.21875,3.125 7.03125,23.4375 44.92187,5.4687 10.9375,30.0781 35.9375,13.6719 3.51563,37.1094 -53.51563,3.5156 -13.28125,11.7188 38.28125,33.9843 0.39063,19.5313 17.57812,17.5781 30.07813,0 3.125,8.2031 25.78125,-13.2812 48.82812,-51.9531 39.84375,-11.3282 42.1875,-38.2812 6.25,-17.9688 -30.07812,-28.9062 -17.57813,-1.1719 -25.78125,-62.1094 -23.4375,-28.125 -117.96875,-67.1875 -32.8125,-6.6406 -29.29687,23.4375 -58.98438,12.8906 -51.17187,-3.125 z"
       class="westeros-region"
       >
      <title
         id="title3509">Highgarden</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 665.73663,2871.4671 62.5,-8.5937 20.3125,-24.2188 67.1875,0 73.4375,35.9375 25,1.5625 38.28125,17.1875 15.625,25.7813 37.50002,8.5937 78.9062,-53.125 18.75,-7.8125 -44.5312,-47.6562 11.7187,-64.8438 43.75,-17.9687 22.6563,-30.4688 7.8125,-39.0625 -0.7813,-19.5312 -50.7812,-35.1563 -7.0313,-75 -34.375,-15.625 -33.5937,17.9688 -14.8438,24.2187 -50.78122,20.3125 -22.65625,39.0625 -39.84375,3.125 -28.125,23.4375 -34.375,-3.9062 -23.4375,13.2812 -77.34375,10.9375 -46.09375,-20.3125 -73.4375,2.3438 -17.1875,9.375 -18.75,57.8125 20.3125,33.5937 14.0625,10.1563 14.0625,59.375 27.34375,4.6875 22.65625,25.7812 z"
       inkscape:path-effect="#path-effect3513"
       id="path3511"
       d="m 665.73663,2871.4671 62.5,-8.5937 20.3125,-24.2188 67.1875,0 73.4375,35.9375 25,1.5625 38.28125,17.1875 15.625,25.7813 37.50002,8.5937 78.9062,-53.125 18.75,-7.8125 -44.5312,-47.6562 11.7187,-64.8438 43.75,-17.9687 22.6563,-30.4688 7.8125,-39.0625 -0.7813,-19.5312 -50.7812,-35.1563 -7.0313,-75 -34.375,-15.625 -33.5937,17.9688 -14.8438,24.2187 -50.78122,20.3125 -22.65625,39.0625 -39.84375,3.125 -28.125,23.4375 -34.375,-3.9062 -23.4375,13.2812 -77.34375,10.9375 -46.09375,-20.3125 -73.4375,2.3438 -17.1875,9.375 -18.75,57.8125 20.3125,33.5937 14.0625,10.1563 14.0625,59.375 27.34375,4.6875 22.65625,25.7812 -3.90625,18.75 z"
       class="westeros-region"
       >
      <title
         id="title3515">The Reach</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1104.0179,2865.9984 17.1875,-14.8438 80.4687,3.9063 37.5,-52.3438 82.8125,-75.7812 71.875,-22.6563 35.1563,-45.3125 87.5,-3.9062 25,-21.875 -7.8125,-22.6563 10.1562,-6.25 -5.4687,-26.5625 19.5312,-8.5937 -36.7187,3.125 -16.4063,-17.9688 -28.125,17.9688 -16.4062,-58.5938 27.3437,-4.6875 58.5938,-119.5312 -37.5,-56.25 16.4062,59.375 -19.5312,40.625 -108.5938,82.0312 -198.4375,144.5313 -54.6875,-7.0313 -8.5937,60.9375 -67.9688,45.3125 -7.8125,56.25 z"
       inkscape:path-effect="#path-effect3519"
       id="path3517"
       d="m 1104.0179,2865.9984 17.1875,-14.8438 80.4687,3.9063 37.5,-52.3438 82.8125,-75.7812 71.875,-22.6563 35.1563,-45.3125 87.5,-3.9062 25,-21.875 -7.8125,-22.6563 10.1562,-6.25 -5.4687,-26.5625 19.5312,-8.5937 -36.7187,3.125 -16.4063,-17.9688 -28.125,17.9688 -16.4062,-58.5938 27.3437,-4.6875 58.5938,-119.5312 -37.5,-56.25 16.4062,59.375 -19.5312,40.625 c -36.0273,27.5686 -72.2262,54.9131 -108.5938,82.0312 -65.6023,48.9175 -131.7537,97.0987 -198.4375,144.5313 l -54.6875,-7.0313 -8.5937,60.9375 -67.9688,45.3125 -7.8125,56.25 44.5313,50.7813 z"
       class="westeros-region"
       >
      <title
         id="title3521">Kingswood</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1203.2366,2856.6234 28.125,53.125 -11.7187,61.7187 23.4375,0 31.25,17.1875 3.9062,29.6875 103.125,8.5938 21.875,-15.625 15.625,20.3125 43.75,1.5625 0,24.2187 58.5938,-7.8125 2.3437,-15.625 -12.5,-32.8125 34.375,-49.2187 44.5313,-8.5938 4.6875,-20.3125 43.75,-30.4687 -28.9063,-12.5 -47.6562,26.5625 -24.2188,-10.9375 -128.125,-30.4688 -47.6562,1.5625 10.1562,-34.375 -23.4375,-19.5312 37.5,-25 28.125,3.9062 21.0938,-21.0937 9.375,17.9687 24.2187,-22.6562 1.5625,-42.9688 10.1563,-3.9062 -32.0313,-63.2813 -25,6.25 -26.5625,47.6563 -89.8437,26.5625 z"
       inkscape:path-effect="#path-effect3525"
       id="path3523"
       d="m 1203.2366,2856.6234 28.125,53.125 -11.7187,61.7187 23.4375,0 31.25,17.1875 3.9062,29.6875 103.125,8.5938 21.875,-15.625 15.625,20.3125 43.75,1.5625 0,24.2187 58.5938,-7.8125 2.3437,-15.625 -12.5,-32.8125 34.375,-49.2187 44.5313,-8.5938 4.6875,-20.3125 43.75,-30.4687 -28.9063,-12.5 -47.6562,26.5625 -24.2188,-10.9375 -128.125,-30.4688 -47.6562,1.5625 10.1562,-34.375 -23.4375,-19.5312 37.5,-25 28.125,3.9062 21.0938,-21.0937 9.375,17.9687 24.2187,-22.6562 1.5625,-42.9688 10.1563,-3.9062 -32.0313,-63.2813 -25,6.25 -26.5625,47.6563 -89.8437,26.5625 -103.9063,120.3125 z"
       class="westeros-region"
       >
      <title
         id="title3527">Storms End</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 875.89288,2998.0296 14.0625,99.2188 -49.21875,108.5937 43.75,-3.9062 71.09375,0 21.09375,-16.4063 31.24997,3.125 25,-32.8125 3.125,-27.3437 15.625,-13.2813 0,-13.2812 32.8125,-21.875 3.125,-32.0313 -10.1562,-16.4062 46.875,-21.875 19.5312,14.8437 24.2188,-14.8437 22.6562,4.6875 1.5625,12.5 17.9688,-10.9375 10.1562,-27.3438 13.2813,-72.6562 -31.25,-59.375 -81.25,-7.8125 -21.875,20.3125 -114.84377,74.2187 -57.8125,14.8438 -17.96875,20.3125 -14.0625,-7.8125 z"
       inkscape:path-effect="#path-effect3531"
       id="path3529"
       d="m 875.89288,2998.0296 14.0625,99.2188 -49.21875,108.5937 43.75,-3.9062 71.09375,0 21.09375,-16.4063 31.24997,3.125 25,-32.8125 3.125,-27.3437 15.625,-13.2813 0,-13.2812 32.8125,-21.875 3.125,-32.0313 -10.1562,-16.4062 46.875,-21.875 19.5312,14.8437 24.2188,-14.8437 22.6562,4.6875 1.5625,12.5 17.9688,-10.9375 10.1562,-27.3438 13.2813,-72.6562 -31.25,-59.375 -81.25,-7.8125 -21.875,20.3125 -114.84377,74.2187 -57.8125,14.8438 -17.96875,20.3125 -14.0625,-7.8125 -18.75,27.3437 z"
       class="westeros-region"
       >
      <title
         id="title3533">The Boneway</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 874.33038,2994.9046 28.125,-24.2187 4.6875,4.6875 98.43752,-46.875 -34.37502,-5.4688 -46.09375,-46.875 -35.15625,-0.7812 -76.5625,-37.5 -63.28125,-3.9063 -22.65625,29.6875 -69.53125,12.5 -32.03125,31.25 -33.59375,14.8438 -53.90625,52.3437 0,19.5313 -14.0625,91.4062 108.59375,-17.1875 92.1875,-35.1562 9.375,-18.75 93.75,-31.25 z"
       inkscape:path-effect="#path-effect3537"
       id="path3535"
       d="m 874.33038,2994.9046 28.125,-24.2187 4.6875,4.6875 98.43752,-46.875 -34.37502,-5.4688 -46.09375,-46.875 -35.15625,-0.7812 -76.5625,-37.5 -63.28125,-3.9063 -22.65625,29.6875 -69.53125,12.5 -32.03125,31.25 -33.59375,14.8438 -53.90625,52.3437 0,19.5313 -14.0625,91.4062 108.59375,-17.1875 92.1875,-35.1562 9.375,-18.75 93.75,-31.25 46.09375,11.7187 z"
       class="westeros-region"
       >
      <title
         id="title3539">Dornish Marches</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 454.79913,2953.4984 -14.84375,10.1562 -36.71875,7.0313 -25,-27.3438 -12.5,24.2188 -24.21875,70.3125 -87.5,55.4687 -12.5,27.3438 -9.375,35.9375 25,48.4375 c 0,0 -5.46875,31.25 -5.46875,35.1562 0,3.9063 35.9375,15.625 35.9375,15.625 l 89.84375,-45.3125 13.28125,3.125 57.03125,-24.2187 21.875,-58.5938 54.6875,-41.4062 17.1875,-89.0625 -8.59375,-24.2188 z"
       inkscape:path-effect="#path-effect3543"
       id="path3541"
       d="m 454.79913,2953.4984 -14.84375,10.1562 -36.71875,7.0313 -25,-27.3438 -12.5,24.2188 -24.21875,70.3125 -87.5,55.4687 -12.5,27.3438 -9.375,35.9375 25,48.4375 c -4.42573,4.5226 -7.3949,10.4492 -8.36754,16.7018 -0.97263,6.2527 0.056,12.8011 2.89879,18.4544 3.18421,6.3323 8.64024,11.492 15.14023,14.3181 6.49999,2.8261 13.99462,3.297 20.79727,1.3069 l 89.84375,-45.3125 13.28125,3.125 57.03125,-24.2187 21.875,-58.5938 54.6875,-41.4062 17.1875,-89.0625 -8.59375,-24.2188 -78.125,-22.6562 z"
       class="westeros-region"
       >
      <title
         id="title3545">Oldtown</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 82.142882,3422.2484 -1.5625,180.4687 130.468748,3.125 71.875,-85.1562 25,-4.6875 3.90625,-20.3125 -36.71875,-42.1875 -20.3125,3.9062 -26.5625,-47.6562 -10.9375,10.9375 z"
       inkscape:path-effect="#path-effect3549"
       id="path3547"
       d="m 82.142882,3422.2484 -1.5625,180.4687 130.468748,3.125 71.875,-85.1562 25,-4.6875 3.90625,-20.3125 -36.71875,-42.1875 -20.3125,3.9062 -26.5625,-47.6562 -10.9375,10.9375 -135.156248,1.5625 z"
       class="westeros-region"
       >
      <title
         id="title3551">The Arbor</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 385.26788,3215.2171 -17.96875,57.8125 -40.625,33.5938 42.1875,75 32.03125,14.0625 15.625,44.5312 26.5625,-15.625 25,6.25 34.375,-27.3437 21.09375,11.7187 93.75,-71.0937 30.46875,-68.75 28.90625,-94.5313 -50,-45.3125 7.03125,-65.625 -101.5625,13.2813 -60.15625,47.6562 -21.09375,63.2813 z"
       inkscape:path-effect="#path-effect3555"
       id="path3553"
       d="m 385.26788,3215.2171 -17.96875,57.8125 -40.625,33.5938 42.1875,75 32.03125,14.0625 15.625,44.5312 26.5625,-15.625 25,6.25 34.375,-27.3437 21.09375,11.7187 93.75,-71.0937 30.46875,-68.75 28.90625,-94.5313 -50,-45.3125 7.03125,-65.625 -101.5625,13.2813 -60.15625,47.6562 -21.09375,63.2813 -65.625,21.0937 z"
       class="westeros-region"
       >
      <title
         id="title3557">Three Towers</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 628.23663,3076.1546 -8.59375,50 71.09375,50 16.40625,58.5938 -42.96875,53.9062 2.34375,7.8125 147.65625,-5.4687 -3.125,-38.2813 32.03125,-33.5937 -3.90625,-21.0938 48.4375,-101.5625 -14.0625,-100 -47.65625,-17.9687 -96.875,41.4062 z"
       inkscape:path-effect="#path-effect3561"
       id="path3559"
       d="m 628.23663,3076.1546 -8.59375,50 71.09375,50 16.40625,58.5938 -42.96875,53.9062 2.34375,7.8125 147.65625,-5.4687 -3.125,-38.2813 32.03125,-33.5937 -3.90625,-21.0938 48.4375,-101.5625 -14.0625,-100 -47.65625,-17.9687 -96.875,41.4062 -100.78125,56.25 z"
       class="westeros-region"
       >
      <title
         id="title3563">Prince's Pass</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 658.70538,3298.0296 -26.5625,50.7813 -16.40625,48.4375 12.5,25 -3.125,72.6562 40.625,30.4688 29.6875,-17.9688 20.3125,11.7188 16.40625,-12.5 39.84375,10.9375 79.6875,-51.5625 51.5625,35.1562 89.0625,-17.9687 -34.375,-125 -29.6875,6.25 -36.71875,-25.7813 -68.75,4.6875 -12.5,-57.0312 z"
       inkscape:path-effect="#path-effect3567"
       id="path3565"
       d="m 658.70538,3298.0296 -26.5625,50.7813 -16.40625,48.4375 12.5,25 -3.125,72.6562 40.625,30.4688 29.6875,-17.9688 20.3125,11.7188 16.40625,-12.5 39.84375,10.9375 79.6875,-51.5625 51.5625,35.1562 89.0625,-17.9687 -34.375,-125 -29.6875,6.25 -36.71875,-25.7813 -68.75,4.6875 -12.5,-57.0312 -151.5625,11.7187 z"
       class="westeros-region"
       >
      <title
         id="title3569">Starfall</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 807.92413,3253.4984 8.59375,82.8125 85.9375,3.125 29.6875,27.3437 37.5,-21.0937 12.5,9.375 54.68752,-12.5 39.8437,21.0937 116.4063,-75.7812 6.25,-50 -18.75,-21.875 -20.3125,15.625 -114.8438,-21.0938 -83.59372,7.8125 -6.25,-14.0625 -70.3125,-13.2812 -23.4375,17.9687 -23.4375,-7.8125 3.90625,16.4063 z"
       inkscape:path-effect="#path-effect3573"
       id="path3571"
       d="m 807.92413,3253.4984 8.59375,82.8125 85.9375,3.125 29.6875,27.3437 37.5,-21.0937 12.5,9.375 54.68752,-12.5 39.8437,21.0937 116.4063,-75.7812 6.25,-50 -18.75,-21.875 -20.3125,15.625 -114.8438,-21.0938 -83.59372,7.8125 -6.25,-14.0625 -70.3125,-13.2812 -23.4375,17.9687 -23.4375,-7.8125 3.90625,16.4063 -34.375,35.9375 z"
       class="westeros-region"
       >
      <title
         id="title3575">Yronwood</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 994.64288,3473.0296 13.28122,-10.1562 60.9375,14.0625 14.0625,16.4062 42.1875,-12.5 14.8438,-38.2812 64.8437,10.9375 3.125,16.4062 99.2188,-24.2187 118.75,15.625 10.9375,-18.75 28.9062,15.625 44.5313,-37.5 12.5,0.7812 13.2812,-41.4062 -50,-17.1875 -24.2187,4.6875 -7.0313,-25 -107.8125,7.8125 -39.0625,-17.9688 -52.3437,8.5938 -16.4063,-14.0625 -64.0625,-23.4375 -99.2187,60.9375 -40.625,-21.0938 -50.00002,14.0625 -12.5,-14.0625 -21.09375,16.4063 12.5,14.0625 -7.8125,57.0312 z"
       inkscape:path-effect="#path-effect3579"
       id="path3577"
       d="m 994.64288,3473.0296 13.28122,-10.1562 60.9375,14.0625 14.0625,16.4062 42.1875,-12.5 14.8438,-38.2812 64.8437,10.9375 3.125,16.4062 99.2188,-24.2187 118.75,15.625 10.9375,-18.75 28.9062,15.625 44.5313,-37.5 12.5,0.7812 13.2812,-41.4062 -50,-17.1875 -24.2187,4.6875 -7.0313,-25 -107.8125,7.8125 -39.0625,-17.9688 -52.3437,8.5938 -16.4063,-14.0625 -64.0625,-23.4375 -99.2187,60.9375 -40.625,-21.0938 -50.00002,14.0625 -12.5,-14.0625 -21.09375,16.4063 12.5,14.0625 -7.8125,57.0312 38.28125,42.1875 z"
       class="westeros-region"
       >
      <title
         id="title3581">Salt Shore</title>
    </path>
    <path
       inkscape:connector-curvature="0"
       inkscape:original-d="m 1176.6741,3301.1546 19.5313,-15.625 0,-45.3125 71.875,4.6875 18.75,17.9688 76.5625,-14.0625 83.5937,35.9375 127.3438,-77.3438 27.3437,7.8125 14.8438,-6.25 -2.3438,46.875 38.2813,-3.9062 -21.0938,39.8437 -46.875,37.5 -17.1875,40.625 -35.9375,12.5 -34.375,-12.5 -37.5,0 0,-27.3437 -111.7187,10.9375 -42.1875,-20.3125 -53.125,7.0312 -17.9688,-11.7187 z"
       inkscape:path-effect="#path-effect3585"
       id="path3583"
       d="m 1176.6741,3301.1546 19.5313,-15.625 0,-45.3125 71.875,4.6875 18.75,17.9688 76.5625,-14.0625 83.5937,35.9375 127.3438,-77.3438 27.3437,7.8125 14.8438,-6.25 -2.3438,46.875 38.2813,-3.9062 -21.0938,39.8437 -46.875,37.5 -17.1875,40.625 -35.9375,12.5 -34.375,-12.5 -37.5,0 0,-27.3437 -111.7187,10.9375 -42.1875,-20.3125 -53.125,7.0312 -17.9688,-11.7187 -57.8125,-27.3438 z"
       class="westeros-region"
       >
      <title
         id="title3587">Sunspear</title>
    </path>
  </g>
</svg>
